<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRUD Kolam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="hold-transition sidebar-mini">

    <div class="wraper">

        <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            </nav>

        <!-- Sidebar -->
         <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/" class="brand-link">
                <span class="brand-text font-weight-light">Menu Utama</span>
            </a>
            <div class="sidebar">

                <!-- Sidebar Menu -->
                 <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/kolam" class="nav-link">
                                <i class="fas fa-swimmer"></i>
                                <p>Kolam</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/karyawan" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Karyawan</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="pelanggan" class="nav-link">
                                <i class="fa-regular fa-user"></i>
                                <p>Pelanggan</p>
                            </a>
                        </li>

                    </ul>
                 </nav>
            </div>
         </aside>

        <!-- Content -->
         <div class="content-wrapper p-4">
            <div class="container mt-4">
                <h2 class="mb-4">Data Kolam</h2>
    <a href="/add-kolam" class="btn btn-primary mb-3">Tambah Data Kolam</a>
    
                <form class="mb-3" method="get" action="/kolam">
                    <div class="input-group">
                    <input
                        type="text"
                        name="search"
                        value="<%= search %>"
                        class="form-control"
                        placeholder="Cari nama..."
                    />
                    <button class="btn btn-primary" type="submit">Cari</button>
                    </div>
                </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Kolam</th>
                <th>Nama Kolam</th>
                <th>Nama Barang</th>
                <th>Jenis Kolam</th>
                <th>Kedalaman</th>
                <th>Harga Tiket</th>
                <th>File</th>
                <th>Foto</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>
            <% kolam.forEach(kolam => { %>
                <tr>
                    <td><%= kolam.id_kolam %></td>
                    <td><%= kolam.nama_kolam %></td>
                    <td><%= kolam.nama_barang %></td>
                    <td><%= kolam.jenis_kolam %></td>
                    <td><%= kolam.kedalaman %> meter</td>
                    <td><%= kolam.harga_tiket.toLocaleString() %></td>
                    <td><%= kolam.filename %></td>
                    <td><img src="<%= kolam.filename %>" alt="<%= kolam.filename %>" width="50" height="50" style="object-fit: cover;"></td>
                    <td>
                        <a href="/edit-kolam/<%= kolam.id_kolam %>" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/delete-kolam/<%= kolam.id_kolam %>" class="btn btn-danger btn-sm"
                            onclick="return confirm('Yakin ingin menghapus data ini?')">Hapus</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
</table>

 <nav>
  <ul class="pagination">
    <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="/kolam?page=<%= i %>&search=<%= search %>">
          <%= i %>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
            </div>
         </div>

         <!-- Footer -->
          <footer class="main-footer text-center">
            <strong>@ 2025 Contoh AdminLTE</strong>
          </footer>
    </div>
    
    <!-- Scripts -->
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

</body>
</html>