<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRUD Karyawan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container" mt-5>
    <h2 class="mb-4">Data Karyawan</h2>
    <a href="/add-kolam" class="btn btn-primary mb-3">Tambah Data Karyawan</a>
    <table class="table table-bordered">
        <thead>
            <tr><th>ID Karyawan</th>
                <th>Nama Karyawan</th>
                <th>Jabatan</th>
                <th>Alamat Karyawan</th>
                <th>No Hp</th>
                <th>File</th>
                <th>Foto</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% karyawan.forEach(karyawan => { %>
                <tr>
                    <td><%= karyawan.id_karyawan %></td>
                    <td><%= karyawan.nama_karyawan %></td>
                    <td><%= karyawan.jabatan %></td>
                    <td><%= karyawan.alamat_karyawan %></td>
                    <td><%= karyawan.no_hp %></td>
                    <td><%= karyawan.filename %></td>
                    <td><img src="<%= karyawan.filename %>" alt="<%= karyawan.filename %>" width="50" height="50" style="object-fit: cover;"></td>
                    <td>
                        <a href="/edit-karyawan/<%= karyawan.id_karyawan %>" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/delete-karyawan/<%= karyawan.id_karyawan %>" class="btn btn-danger btn-sm"
                            onclick="return confirm('Yakin ingin menghapus data ini?')">Hapus</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>